# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* List popular languages
* List popular libraries
* Create a table
* Use comments in code
* Use mathematical expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|---|
|Hadoop|
|Apache Spark|
|VScode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Jemali Khaniashvili